ul.tree, ul.tree * {
	list-style-type: none;
	margin: 0;
	padding: 0 0 5px 0;
}
ul.tree img.arrow {
	padding: 2px 0 0 0;
	border: 0;
	width: 20px;
}
ul.tree li {
	padding: 4px 0 0 0;
}
ul.tree li ul {
	padding: 0 0 0 20px;
	margin: 0;
}
ul.tree span {
	cursor: pointer;
	padding: 2px 0;
}
ul.tree span.hover {
	color: red;
}
/*ul {
	margin-top: 5px;
	margin-bottom: 5px;
}*/
ul.tree li .arrow {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	float: left;
	background: transparent no-repeat 0 4px;
	margin-left:-40px;
	position:fixed;
}
ul.tree li .collapsed {
	background-image: url('../images/img-arrow-collapsed.gif');
}
ul.tree li .expanded {
	background-image: url('../images/img-arrow-expanded.gif');
}

ul.tree li .checkbox {
	width: 20px;
	height: 18px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	float: left;
	background: url('../images/bg-checkbox.gif') no-repeat 0 0px;
	margin-left:-20px;
	position:fixed;
}
ul.tree li .checked {
	background-image: url('../images/bg-checkbox-checked.gif');
}
ul.tree li .half_checked {
	background-image: url('../images/bg-checkbox-checkedchildren.gif');
}