body{
	margin: 0;
	padding: 0;
	background: #444;
}

/*sidebar着色*/
#sidebar > ul {
	border-top: 1px solid #393939;
	border-bottom: 1px solid #4E4E4E;
}
#sidebar > ul > li {
	border-top: 1px solid #4E4E4E;
	border-bottom: 1px solid #393939;
}
#sidebar > ul > li.active {
    background-color: #3a3a3a;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#333333), to(#3F3F3F));
	background-image: -webkit-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -ms-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: linear-gradient(top, #333333 0%, #3F3F3F 100%);
}


#sidebar {
	width: 100%;
	margin: 0;
	padding: 0;
}

#sidebar > ul {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	list-style: none;
	display: block;
}
#sidebar > ul > li {
	display: block;	
	width: 100%;
}

#sidebar > ul > li.active {
	box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
}

#sidebar > ul > li > a {
	padding: 10px 0 10px 20px;
	display: block;
	color: #aaa;
}

#sidebar > ul > li > a > i {
	margin-right: 10px;
}
#sidebar > ul > li.active > a {
	background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
}
/*
#sidebar > ul > li.active > a {
	background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
}

#sidebar > ul > li > a > .label {
	margin: 0 20px 0 0;
	float: right;
	padding: 3px 5px 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
}*/

#sidebar li a i {
	vertical-align: top;
	background-image: url('../img/glyphicons-halflings-white.png');
	opacity: .5;
	margin-top: 2px;
}


#sidebar > ul > li > a > .label {
	background-color: #333333;
}
#sidebar > ul > li > a {
	text-decoration: none;
}
#sidebar > ul > li > a:hover {
	background-color: #4A4A4A;
}
