/Configuration.xml
/applicationContext-action.xml
/applicationContext-bean.xml
/applicationContext-manage.xml
/applicationContext-public.xml
/com/
/conf/
/config.properties
/config.xml
/daili.properties
/htmlcode.xml
/jdbc.properties
/log4j.properties
/org/
/struts.xml
/struts_app.xml
/struts_manager.xml
/test/
/web.properties
